.container {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer {
    font-size: 30px;
}

.questionContainer {
    transition: all 200ms linear;
    margin-top: 50px;
}

.question {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.optionContainer {
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
}

.option {
    margin-right: 10px;
}

.rainContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
}

.rainParticle {
    position: absolute;
    z-index: 1;
    font-size: 30px;
    transition: top 4000ms linear;
    visibility: hidden;
}

.ballon {
    width: 40px;
}
